spring.datasource.url =
spring.h2.console.enabled=
spring.jpa.defer-datasource-initialization=
spring.datasource.username =
spring.datasource.password =
spring.datasource.driver-class-name=
spring.jpa.hibernate.ddl-auto=
spring.jpa.show-sql=