#spring.jpa.database-platform = com.enigmabridge.hibernate.dialect.SQLiteDialect
#spring.jpa.hibernate.ddl-auto = create-drop
#spring.jpa.show-sql=true
#spring.datasource.url = jdbc:sqlite:test.sqlite
#spring.datasource.driver-class-name = org.sqlite.JDBC
#spring.datasource.username = admin
#spring.datasource.password = admin


spring.datasource.url = jdbc:h2:file:~/test-db1;INIT=CREATE SCHEMA IF NOT EXISTS facol;AUTO_SERVER=TRUE;AUTO_SERVER_PORT=9090
spring.h2.console.enabled=true
spring.jpa.defer-datasource-initialization=true
spring.datasource.username =sa
spring.datasource.password =
spring.datasource.driver-class-name=org.h2.Driver
spring.jpa.hibernate.ddl-auto=create-drop
spring.jpa.show-sql=true